<head>
    <title>
        {% block title %}{% endblock %}
    </title>
    
    <link rel="shortcut icon" type = "image/png" href="../static/nasalogo.png">
    
        <style>
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

    </style>


</head>
<br>
<h1 style="text-align: center;">EOSDIS Data Usage Search</h1>

<br><br>
<img src="../static/nasalogo.png" alt="nasa" width="150" height="130"/>
    

{% block main %}
{% endblock %}