{% extends 'base.html' %}

{% block title %}Results{% endblock %}

{% block main %}


<!DOCTYPE html>
<html>

<head>
    <br>
    <p><a href="/">Topics</a> / <a href="/use_cases/{{topic}}">{{topic}}</a> / {{application}}</p><br>
</head>

<body>

    <!--List dataset information here-->
    <p>Relevant Datasets:</p>
    <ul>
        {% for data in datasets %}
        <li>
            <a href={{data[0]}} target="_blank">
                <button>
                    <strong>{{data[0]}}</strong><br><br>
                    Confidence Level: {{data[1]}}
                </button>
            </a>
        </li>
        <br>
        {% endfor %}

    </ul>

    <a href="/data/jsonify/{{topic}}/{{application}}">
        <input type="button" value="JSON DOI">
    </a>

</body>



</html>



{% endblock %}