{% extends 'base.html' %}

{% block title %}Usage Cases{% endblock %}

{% block main %}

<!DOCTYPE html>
<html class="myFontClass">

<head>
    
    <br>
    <p style="color: whitesmoke"><a href="/">Topics</a> / {{topic}}</p><br>
</head>

<body>

    <p style="color: whitesmoke">Relevant Applications:</p>

    <ul>
        {% for app in applications %}

        <li>
     
            <a href="/data/{{topic}}/{{app[0]}}">
                <button><strong>{{app[0]}}</strong><br><br>
                    <strong>Website:</strong> {{app[1]}}<br>
                    <strong>Publication:</strong> {{app[2]}}</button>
            </a>
       
        </li><br>
        
        {% endfor %}

    </ul>

</body>


</html>




{% endblock %}