{% extends 'base.html' %}

{% block title %}Usage Cases{% endblock %}

{% block main %}

<!DOCTYPE html>
<html>

<head>
    <style>
        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
    <p>Topic: {{topic}}</p>
</head>

<body>
    <ul>
        {% for app in apps %}

        <li>

            <a href="/data/{{app.name}}">
                <input type="button" value="{{app.name}}" class="center">
            </a>
        
        <!--
            <a href="/data/{{app.name}}">
                <button class="center">{{app.name}}<br><br>
                    Website: {{app.website}}<br>
                    Publication: {{app.publication}}</button>
            </a>
        -->
            <br>
        </li>
        {% endfor %}

    </ul>

</body>


</html>




{% endblock %}